body {
    background-image:url(https://wallpapercave.com/wp/wp1927677.jpg);
    color: whitesmoke;
}

.container {
    background-color: ##587792;
    padding: 9px;
    color: whitesmoke;
}
.header {
           padding: 20px;
           background-color: #587792 ; 
           border-radius: 5px;
           box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
           opacity: 0.9;
       }
